<base href="/friday-ci">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Friday CI - Lite</title>
<link rel="stylesheet" href="<%=locals.basePath%>lib/codemirror.css">
<link rel="stylesheet" href="<%=locals.basePath%>theme/material.css">
<script src="<%=locals.basePath%>lib/codemirror.js"></script>
<script src="<%=locals.basePath%>keymap/sublime.js"></script>
<script src="<%=locals.basePath%>mode/shell/shell.js"></script>